@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 100vh;
    /* background: rgb(241, 240, 240); */
    background: transparent;
}

::-webkit-scrollbar-thumb {
background: rgb(197, 196, 196);
    border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 152, 152);
}

/* Input Styling */
input[type="text"], input[type="email"], input[type="password"]{
    height: 52px;
    border: 1px solid rgb(0, 0, 0, 0.1) !important;
    border-radius: 5px !important;
    outline: none;
    --tw-ring-color: transparent !important;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    border: 1px solid rgba(23, 35, 64, 0.3) !important;
    border-radius: 5px;
    outline: none;
    --tw-ring-color: transparent !important;
}

input[type="submit"]{
    height: 52px;
    color: white;
    font-weight: 700;
    border: none;
    background-color: #172340 !important;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    --tw-ring-color: transparent !important;
}

textarea, textarea:focus{
    border: 1px solid rgba(23, 35, 64, 0.3);
    border-radius: 8px;
    padding: 10px 55px 10px 10px;
    --tw-ring-color: transparent !important;
}

/* Markdown Editor */
.vmd-toolbar{
    display: none;
}

.vmd-body{
    border: 1px solid rgba(23, 35, 64, 0.3);
    border-radius: 8px;
}

.vmd-body textarea{
    max-height: 250px;
    min-height: 48px;
    height: 48px;
    font-family: Nunito, sans-serif !important;
}